{% extends "base.html" %}

{% block title %}Phrases{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
      <div class="col-sm-6 " id="question" style="min-height: 200px"></div>
      <div class="col-sm-6 " id="answer" style="min-height: 200px"></div>
    </div>

    <div class="row">
       <div class="col-sm-12 text-center" id="result-row">
         <button type="button" class="btn btn-primary" id="answer-button">Show</button>
       </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static "ruseng/app.js" %}"></script>
{% endblock %}
